<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
<h2>Student List</h2>

<a href="/add">Add Student</a> |
<a href="/logout">Logout</a>

<table border="1" cellpadding="5">
<tr>
    <th>ID</th><th>Name</th><th>Roll</th><th>Branch</th><th>Action</th>
</tr>

{% for s in students %}
<tr>
    <td>{{ s[0] }}</td>
    <td>{{ s[1] }}</td>
    <td>{{ s[2] }}</td>
    <td>{{ s[3] }}</td>
    <td>
        <a href="/edit/{{ s[0] }}">Edit</a>
        <a href="/delete/{{ s[0] }}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>
</body>
</html>
